@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

#card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#gameWindow {
    box-shadow: 0px 5px 20px 11px #0000001c;
    height: 70vh;
    width: 55vw;
    border-radius: 10px;
}

#board, nav {
    width: auto;
}

#board {
    height: 90%;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #00ff8b;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid #157100;

    grid-template-columns: repeat(3, min(25%, 100px));
    grid-template-rows: repeat(3, min(25%, 100px));
    gap: 10px;
    flex: 1;
}

#board button {
    border-radius: 8px;
    border: 3px solid #166f64;
    background-color: #91ff77bd;
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    transition: 0.2s;
}

#board button:hover {
    box-shadow: 0px 0px 105px 15px white;
    border-color: white;
    z-index: 1;
}

nav {
    height: 10%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 2px solid #157100;
    border-bottom: none;
    background-color: white;
    padding: 10px;
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    transition: opacity .3s ease-in-out;
    opacity: 0;
}
  
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fefefe;
    margin: 11% auto; 
    padding: 20px 20px;
    border: 6px solid #00914f;
    width: 40%; 
    height: 60%;
    border-radius: 25px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 20px 20px #ffffff1a;
}

.modal-content span {
    display: block;
    font-size: 12rem;
    font-weight: bolder;
    line-height: 1;
    color: #00e57d;

}

.modal-content h1 {
    color: #00af5f;
}

.modal-content button {
    height: 53px;
    width: 50%;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: #00ff8b;
    color: white;
    box-shadow: 0px 17px 0px 0px #00bb66;
    overflow: hidden;
    transition: 0.2s;
}

.modal-content button:hover {
    box-shadow: 0 10px 0 #00bb66;
    transform: translateY(7px);
}

.modal-content button:active {
    box-shadow: 0 5px 0 #00bb66;
    transform: translateY(12px);
}


@media (max-width: 1024px) {
    .modal-content {
        width: 45vw;
        height: 45vh;
        margin: 23% auto;
    }
}

@media (max-width: 667px) {
    .modal-content {
        width: 90vw;
        height: 50vh;
        margin: 40% auto;
    }

    #gameWindow {
        width: 85vw;
    }
}